<?php
$settings = [
	'amqp' => [
		'server' => [
			'host'     => '<amqp_server>',
			'port'     => '5672',
			'username' => '<amqp_username>',
			'password' => '<amqp_password>',
		]
	],
];

return $settings;